body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.first-container {
  height: 400px;
  background-color: #1f2937;
  display: flex;
  color: #fff;
  display: flex;
  justify-content: space-around;
}
ul {
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

.upper {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 60px;
}

.logo {
  display: flex;
  margin-right: auto;
  font-size: x-large;
  font-weight: 900;
  margin: 0;
}

.left {
  width: 300px;
}
.right-lower {
  width: 500px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6d747d;
}

.upper-container {
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards {
  display: flex;
  gap: 30px;
}

.card {
  width: 110px;
  height: 120px;
  border: 2px solid #3882f6;
  border-radius: 15px;
}

.card-container {
  width: 110px;
  text-align: center;
  font-size: 12px;
}

.middle-container {
  height: 350px;
  background-color: #e5e7eb;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.quote {
  width: 700px;
  font-size: 30px;
  font-style: italic;
}
.writer {
  margin-left: 550px;
}

.bottom-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner {
  min-width: 800px;
  background-color: #3882f6;
  margin: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

button {
  margin-left: 30px;
}
